<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/signinstyle.css">
    <script src="/javascripts/signin.js"></script>
<style>
</style>
    </head>
<body>

<h2>Login Form</h2>


  

  <div class="container">
    <label><b>Username</b></label>
    <input type="text" id="signinEmail" placeholder="Enter Username" name="uname" required>

    <label><b>Password</b></label>
    <input type="password" id="signinPassword" placeholder="Enter Password" name="psw" required>
        
    <button type="submit" onclick="userSignIn()">SignIn</button> 
    
  </div>

  


</body>
</html>