<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/welcomestyle.css' />
    	<script src="/javascripts/welcome.js"></script>

  </head>
  <body>
    <header id="heading"><h1>{{title}}</h1></header>
    <div class="tab">
      <button class="btns" onclick="signin()" id="signin">Sign In</button>
      <button class="btns" id="signup" onclick="signup()">Sign Up</button>
    </div>
  </body>
</html>
